# Banco de dados
DATABASE_URL=postgresql://postgres:postgres@db:5432/flowfinance

# Segurança
SECRET_KEY=sua_chave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

# Frontend API URL
VITE_API_URL=http://localhost:8000/api/
